doctype html
html
	include navbar
	head
		link(rel='icon', href='/public/images/s.ico')
		title Welcome everyone!
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		include footer