nav.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			span.icon-bar
			span.icon-bar
			span.icon-bar
			a.navbar-brand(href='#') Project name
			
		.navbar-collapse
			.form-group
				input.form-control(type='text', placeholder='Email')
			.form-group-t
				input.form-control(type='password', placeholder='Password')
			button.btn.btn-success(type='submit') Sign in
